In [1]:
from session import Session, Track
from ipywidgets import interact, interactive
from IPython.display import display
from os import listdir
from os.path import join

In [2]:
samples_dir = 'sample_files/'
sample_files = listdir(samples_dir)

def get_session(source, parse_timecode):
    session = Session(join(samples_dir, source), parse_timecode)
    print(session)
    return session

widget = interactive(get_session, source=sample_files, parse_timecode=False)
widget

interactive(children=(Dropdown(description='source', options=('sample_session_min_sec.txt', '.DS_Store', 'sampâ€¦

In [3]:
session = widget.result
track = session.track[session.tracks[0]] 
data = track.data
data.head()

,channel,event,clip_name,start_time,end_time,duration,timestamp,state
0,1,1,A 1_01,00:00:23:01,00:00:23:18,00:00:00:17,00:00:23:01,Unmuted
1,1,2,A 1_02,00:00:24:11,00:00:25:00,00:00:00:13,00:00:24:11,Unmuted

In [4]:
track.to_edl(filepath='test.edl')

In [5]:
session.section['markers_listing']

,#,location,time_reference,units,name,comments
0,1,00:00:23:01,1106000,Samples,Location 1,NaN
1,2,00:00:23:18,1140000,Samples,Location 2,NaN
2,3,00:00:24:11,1174000,Samples,Location 3,NaN
3,4,00:00:25:00,1200000,Samples,Location 4,NaN
4,5,00:00:32:01,1538000,Samples,Location 5,NaN
5,6,00:00:33:08,1600000,Samples,Location 6,NaN